[Unit]
Description=Run a speedtest
After=network.target

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
SyslogIdentifier=zabbix-speedtest
User=root
ExecStart=/etc/zabbix/bin/zbx-speedtest.sh --run

[Install]
WantedBy=multi-user.target
